<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Catalog Search</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function(){
            $("#search").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        dataType: "json",
                        url: "/search",
                        data: {query: request.term},
                        success: function (data) {
                            response(data);
                        }
                    })
                },
                minLength: 2
            });
        });

       $(document).ready(function(){
            $("#submitButton").click(function() {
                    $.ajax({
                        dataType: "json",
                        url: "/submitEvent",
                        data: {search: $("#search").val()},
                        success: function (response) {
                            console.log(response);
                        },
                        error: function(error) {
                            console.log(error);
                    }
                });
            });
        });
    </script>
<body>
<div class="ui-widget">
    <h1>Search Products</h1>
    <form id="form">
        <input type="text" id="search" name="search" size="55" >
        <button type="button" id="submitButton"">Search</button>
    </form>
</div>

</body>
</html>